[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-rooter"]
	path = dotfiles/vim/pack/plugins/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-git"]
	path = dotfiles/vim/pack/plugins/start/vim-git
	url = https://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-ragtag"]
	path = dotfiles/vim/pack/plugins/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-endwise"]
	path = dotfiles/vim/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
	ignore = untracked
[submodule "dotfiles/vim/bundle/vim-indent-guides"]
	path = dotfiles/vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotfiles/vim/bundle/vim-handlebars"]
	path = dotfiles/vim/pack/plugins/start/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "dotfiles/vim/bundle/vim-ruby"]
	path = dotfiles/vim/pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotfiles/vim/bundle/vim-haml"]
	path = dotfiles/vim/pack/plugins/start/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "dotfiles/vim/bundle/SearchComplete"]
	path = dotfiles/vim/pack/plugins/start/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "dotfiles/vim/bundle/ack"]
	path = dotfiles/vim/pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotfiles/vim/bundle/hexHighlight"]
	path = dotfiles/vim/pack/plugins/start/hexHighlight
	url = https://github.com/vim-scripts/hexHighlight.vim.git
[submodule "dotfiles/vim/bundle/vim-l9"]
	path = dotfiles/vim/pack/plugins/start/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "dotfiles/vim/bundle/ultisnips"]
	path = dotfiles/vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "dotfiles/vim/bundle/ctrlp.vim"]
	path = dotfiles/vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/vim/bundle/bufexplorer"]
	path = dotfiles/vim/pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "dotfiles/vim/bundle/neocomplete"]
	path = dotfiles/vim/pack/plugins/start/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "dotfiles/vim/bundle/vim-less"]
	path = dotfiles/vim/pack/plugins/start/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotfiles/vim/bundle/tagbar"]
	path = dotfiles/vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/vim/bundle/vim-jsx"]
	path = dotfiles/vim/pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dotfiles/vim/bundle/vim-go"]
	path = dotfiles/vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotfiles/vim/pack/plugins/start/vim-airline"]
	path = dotfiles/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/vim/pack/plugins/start/neocomplete"]
	path = dotfiles/vim/pack/plugins/start/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "dotfiles/vim/pack/plugins/start/ale"]
	path = dotfiles/vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "dotfiles/vim/pack/plugins/start/vim-airline-themes"]
	path = dotfiles/vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dotfiles/vim/pack/plugins/start/typescript-vim"]
	path = dotfiles/vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "configfiles/osx/fonts/powerline-fonts"]
	path = configfiles/osx/fonts/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "dotfiles/vim/pack/plugins/start/syntastic"]
	path = dotfiles/vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "dotfiles/vim/pack/plugins/start/rust.vim"]
	path = dotfiles/vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = https://github.com/AstroNvim/AstroNvim
	branch = nightly
