[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/vim-rails"]
	path = dotfiles/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/vim-rooter"]
	path = dotfiles/vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotfiles/vim/bundle/vim-git"]
	path = dotfiles/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/vim-ragtag"]
	path = dotfiles/vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "dotfiles/vim/bundle/vim-endwise"]
	path = dotfiles/vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotfiles/vim/bundle/snipmate"]
	path = dotfiles/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
