.DS_Store
log/*.log
tmp/*/*
db/*.sqlite3
public/system/photos/*
mkmf.log
dotfiles/vim/.netrwhist
*.swp
tmp/*
dotfiles/vim/bundle/*/doc/tags*
dotfiles/vim/tmp/*
dotfiles/nvim.old/.netrwhist
dotfiles/nvim.old/dein/.cache/*
