.DS_Store
log/*.log
tmp/*/*
db/*.sqlite3
public/system/photos/*
mkmf.log
dotfiles/vim/.netrwhist
*.swp
tmp/*
dotfiles/vim/bundle/*/doc/tags*
dotfiles/vim/bundle/vim-git
dotfiles/vim/bundle/vim-ragtag
dotfiles/vim/bundle/vim-surround
dotfiles/vim/tmp/*
