@import setup.sass

h1
  +font_largest
  color = !text_color_bold

h2, h3
  +font_large
  color = !text_color_bold

h4, h5, h6
  +font_normal
  color = !text_color_bold

p
  +font_normal

a
  color = !link_color
  padding: 0 #{!link_horizontal_padding}
  margin: 0 0 0 #{!link_horizontal_padding}
  &:hover
    color = !background_color
    background-color = !link_color
    text-decoration: none
    padding: 0 #{!link_horizontal_padding}
    margin: 0 0 0 #{!link_horizontal_padding}
    border-radius: 0.25em
    -moz-border-radius: 0.25em
    -webkit-border-radius: 0.25em
    &:visited
      color = !background_color
      background-color = !link_color_visited
  &:visited
    color = !link_color_visited

ul, ol
  +font_normal

strong
  color = !text_color_bold
  font-weight: bold

em
  font-style: italic

legend
  +font_normal

.faint
  color = !text_color_faint

.clear
  clear: both

.container
  width = !width_of_page
  margin: 0 auto
  position: relative
  padding: 0

.spacer1
  +font_normal( 0 0 2.916em )
  margin: 1.5em 0 0 
  border-top: 0.084em solid #{!text_color_faintest}
  
p.flash_notice
  +system_message

p.flash_error 
  +system_message( #B31000, #FFAAA1 )