.container
  .main
    %h1#introduction
      Rivup software is proud to present the greatest application ever written for the Apple Macintosh....
    %img#virtual_freed_text{ :title => "Virtual Freed Logo", :src => "images/virtual_freed_logo.jpg", :alt => "Virtual Freed" }
    %form{ :action => '/download', :method => 'post' }
      %button#download{ :type => "submit", :name => "download" }
        %span
          Download Virtual Freed
    %img#virtual_freed{ :title => "Virtual Freed", :src => "images/virtual_freed_man.png", :alt => "Virtual Freed Image" }
   